footer{
    background: #D9D9D9;
    text-align: start;
    color: #565960;


    .footer{
        padding: 3em 0;
    }

    li{
        list-style: none;
    }

    a{
        color: #565960;
        text-decoration: none;
    }

    p{
        margin-bottom: 0.5em;
    }

    input{
        border: 1px solid #EAE3E3 !important;
        background: #EAE3E3 !important;
    }

    .social{
        a{
            margin-inline-end: 1.8em;
        }
    }

    .btn{
        background: #8DC043;
        border: 0;
        color: #fff;
        font-size: .8em;
    }

    .copyright{
        background: #038896;
        height: 50px;
        line-height: 50px;
        color: white;
        text-align: center;
    }
}

@media (max-width:991px){
    .footer__news{
        margin: 1em 0;
    }
    
    .footer{
        padding: 0 1em;
    }
}